$action_btn: #3B94EE;

$slide1_left_bg: #5C00A1;
$slide1_right_bg: #CBCACD;

$slide2_left_bg: #4A16C6;
$slide2_right_bg: #1A005D;

$slide3_left_bg: #0E0D37;
$slide3_right_bg: #141245;

$slide4_left_bg: #17253A;
$slide4_right_bg: #0D121A;

$slide5_left_bg: #164B9B;
$slide5_right_bg: #3ADBDA;

$slide6_left_bg: #04278B;
$slide6_right_bg: #D7C2B5;

$slide7_left_bg: #0A924B;
$slide7_right_bg: #0FCE69;